<!-- footer -->
<footer class="bg-primary12 py-3 fixed-bottom" style="opacity: 0.9;">

  <div class="container align-centre">
    <div class="row mt-0 mb-0">
      {% comment %} <div class="col-md-3 col-sm-4 text-center"><i class="fas fa-phone"></i> (852)-2341-6308</div> {% endcomment %}
      <div class="col-md-3 col-sm-4 text-center">
        <a href="tel:+85223416308">
            <i class="fas fa-phone"></i> {{ phone }}
        </a>
      </div>

      <div class="col-md-2 col-sm-6 text-center">
        <a href="mailto:info@ktra.org.hk" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-envelope-open"></i> {{ email }}
        </a>
      </div>

      <div class="col-md-3 col-sm-6 text-center">
        <a href="{{ facebook }}" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook"></i> facebook
        </a>
      </div>

      <div class="col-md-4 col-sm-8 text-center">
        <a href="https://www.google.com/maps/search/?api=1&query=康寧道15號" target="_blank" rel="noopener noreferrer">
            <i class="fa-solid fa-house"></i> {{ location }}
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-md-left">
    <p class="mt-0 mb-0"></p>
    
    <div class="mb-0 mt-0  text-muted text-center">
      <span >
        &copy; 2025 All rights reserved.
      </span>
      <span>
        <a href="#" class="text-muted">使用條款及私隱政策 </a>

      </span>


    </div>

    

  </div>

</footer>

{% comment %} 

<footer class="bg-primary text-white py-4">

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>聯絡資訊</h5>
        <ul class="list-unstyled">
          <li>
            <br /><strong>電話:</strong> 2341 6308
          </li>
          <li>
            <strong>傳真:</strong> 2191 3356
          </li>
          <li>
            <strong>電子郵件:</strong>
            <a href="mailto:info@ktra.org.hk" class="text-white"
              >info@ktra.org.hk</a>
          </li>
          <li>
            <i class="fab fa-facebook">
            <strong>www.facebook.com/ktra.hk</strong>
            <a href="https://www.facebook.com/ktra.hk" class="text-white"
              ></i
            ></a>
          </li>
          <li>
            <div class="col-md-12 text-md-left">
              <p class="mb-0">&copy; 2024 All rights reserved.</p>
              <a href="#">使用條款及私隱政策</a>
            </div>

          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>
            <strong>地址:</strong><br>
            <span>九龍觀塘康寧道15號裕民大廈8字樓</span><br />
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.039979653617!2d114.2233614!3d22.3143277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3404014f1cdbe581%3A0xa26f0aac27b4bf6c!2sYue%20Man%20Mansion%2C%2015-17%20Hong%20Ning%20Rd%2C%20Ngau%20Tau%20Kok!5e0!3m2!1sen!2shk!4v1735002089660!5m2!1sen!2shk"
              width="80%%"
              height="80%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer> {% endcomment %}
