{% extends "base.html" %} {% load static %} {% block content %}

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");


  .history_line {
    height:700px;
  }
  .history_line *,
  .history_line *::before,
  .history_line *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .history_line h1 {
    text-align: center;
  }
  
  .history_line ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }
  
  /* line */
  .history_line ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
  }
  
  /* columns*/
  
  /* row gaps */
  .history_line ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }
  
  /* card */
  .history_line ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }
  
  /* date */
  .history_line ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);
  
    text-align: center;
    background-color: var(--accent-color);
  
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
  
    display: grid;
    place-content: center;
    position: relative;
  
    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }
  
  /* date flap */
  .history_line ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;
  
    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
  }
  
  /* circle */
  .history_line ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;
  
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  
  /* title descr */
  .history_line ul li .title,
  .history_line ul li .descr {
    background: var(--bgColor);
    position: relative;
    padding-inline: 1.5rem;
  }
  .history_line ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
  }
  .history_line ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }
  
  /* shadows */
  .history_line ul li .title::before,
  .history_line ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
  }
  .history_line ul li .title::before {
    bottom: calc(100% + 0.125rem);
  }
  
  .history_line ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
  }
  
  @media (min-width: 40rem) {
    .history_line ul {
      grid-template-columns: 1fr var(--line-w) 1fr;
    }
    .history_line ul::before {
      grid-column: 2;
    }
    .history_line ul li:nth-child(odd) {
      grid-column: 1;
    }
    .history_line ul li:nth-child(even) {
      grid-column: 3;
    }
  
    /* start second card */
    .history_line ul li:nth-child(2) {
      grid-row: 2/4;
    }
  
    .history_line ul li:nth-child(odd) .date::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      left: 0;
    }
  
    .history_line ul li:nth-child(odd) .date::after {
      transform: translate(-50%, -50%);
      left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    .history_line ul li:nth-child(odd) .date {
      border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
  }
  
  .history_line .credits {
    margin-top: 1rem;
    text-align: right;
  }
  .history_line .credits a {
    color: var(--color);
  }
  
</style>


<div class="container">
  <a id="top"></a>
  <div style="text-align: center">
    <img
      src="{% static 'img/logo.png' %}"
      style="width: 330px; height: 330px"
    />
    <p style="font-size: 110%;">
      觀塘民聯會四十多年來秉承｢同舟共濟 守望相助 ｣ 的創會精神，<br />
      扎根基層，服務社區，關心社會。<br />
      本會堅持與時並進，腳踏實地為居民提供多元化社會服務，<br />
      服務範疇涵蓋幼兒服務、青少年服務、長者服務、新來港人士服務等。<br />
      積極開展以青少年、婦女及長者等為主題的各種活動，推動國民及公民教育活動；<br />
      持和參與社會公益事務；同時也十分關注與居民息息相關的民生及社會問題，<br />
      為建設和諧社區貢獻力量。
    </p>
  </div>
  <div class="history_line">
    <!-- Add scroll hint -->
<div class="scroll-hint">
  拉動以了解我們的歷史
  <br>
  ↓
</div>
<ul>
    <li style="--accent-color:#41516C">
        <div class="date">1974</div>
        <div class="title"> </div>
        <div class="descr">觀塘民聯會成立。</div>
    </li>
    <li style="--accent-color:#FBCA3E">
        <div class="date">1999</div>
        <div class="title"> </div>
        <div class="descr">獲批准註冊為非牟利慈善團體。</div>
    </li>
    <li style="--accent-color:#E24A68">
        <div class="date">2000s</div>
        <div class="title"> </div>
        <div class="descr">開始提供多元化的社會服務，包括幼兒服務、青少年服務、長者服務及新來港人士服務等。</div>
    </li>
    <li style="--accent-color:#1B5F8C">
        <div class="date">2010s</div>
        <div class="title"> </div>
        <div class="descr">積極推動國民及公民教育活動，支持和參與社會公益事務。</div>
    </li>
    <li style="--accent-color:#4CADAD">
        <div class="date">2024</div>
        <div class="title"> </div>
        <div class="descr">慶祝成立50週年，舉辦了一系列活動，包括歌唱比賽、健康講座、嘉年華會等</div>
    </li>
</ul>
</div>
</div>

{% endblock content %}
