{% extends "base.html" %} {% block title %} | {{event_type | title}} {% endblock %} {% block content %}

<!-- Showcase-inner -->
<style>
  #showcase-inner {
    padding-top: 38px;    /* Adjust as needed for top padding */
    padding-bottom: 30px; /* Adjust as needed for bottom padding */
  }
  .box {
    box-sizing: border-box;
  }
  
  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1051;
    padding-top: 50px;
    left: 50%;
    top: 5%;
    transform:translateX(-50%);
    width: 80%;
    height: 90%;
    overflow: auto;
    background-color:black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 70%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
</style>

<section id="showcase-inner" class="text-white">
  <div class="container" >
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">{{ event.title | title }}</h1>
      </div>
    </div>
  </div>
</section>

<!-- Event -->
<section id="event" class="py-4">
  <div class="container " style="height: 55vh;">
      <a href="{% url 'events' event_type=event_type %}" class="btn btn-light mb-4">Back To Events</a>
    <div class="row">
      <div class="col-md-9">
        <!-- Event Main Image -->
        {% if event.photo_main %}
        <img
          src={{ event.photo_main.url }}
          alt=""
          class="img-main img-fluid mb-3"
        />
        {% endif %}
        <!-- Thumbnails -->
        <div class="row">
          {% if event.photo_1 %}
          <div class="column box">
            <img src="{{ event.photo_1.url }}" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
          </div>
          {% endif %}
          {% if event.photo_2 %}
          <div class="column box">
            <img src="{{ event.photo_2.url }}" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
          </div>
          {% endif %}
          {% if event.photo_3 %}
          <div class="column box">
            <img src="{{ event.photo_3.url }}" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
          </div>
          {% endif %}
          {% if event.photo_4 %}
          <div class="column box">
            <img src="{{ event.photo_4.url }}" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
          </div>
          {% endif %}
        </div>
        <!-- Fields -->
        <div class="row mb-5 fields">
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <i class="fas fa-calendar"></i> Published Date:
                <span class="float-right">{{ event.publish_date | timesince }}</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Description -->
        <div class="row mb-5">
          <div class="col-md-12">
            {{ event.content}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-4">
  <div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
      {% if event.photo_1 %}
      <div class="mySlides">
        <div class="numbertext">1 / 4</div>
        <img src="{{ event.photo_1.url }}" style="width:100%">
      </div>
      {% endif %}
      {% if event.photo_2 %}
      <div class="mySlides">
        <div class="numbertext">2 / 4</div>
        <img src="{{ event.photo_2.url }}" style="width:100%">
      </div>
      {% endif %}
      {% if event.photo_3 %}
      <div class="mySlides">
        <div class="numbertext">3 / 4</div>
        <img src="{{ event.photo_3.url }}" style="width:100%">
      </div>
      {% endif %}
      {% if event.photo_4 %}
      <div class="mySlides">
        <div class="numbertext">4 / 4</div>
        <img src="{{ event.photo_4.url }}" style="width:100%">
      </div>
      {% endif %}
      
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      
      <div class="row" style="background-color:black;">
      {% if event.photo_1 %}
      <div class="column box">
        <img class="demo cursor" src="{{ event.photo_1.url }}" style="width:100%" onclick="currentSlide(1)">
      </div>
      {% endif %}
      {% if event.photo_2 %}
      <div class="column box">
        <img class="demo cursor" src="{{ event.photo_2.url }}" style="width:100%" onclick="currentSlide(2)">
      </div>
      {% endif %}
      {% if event.photo_3 %}
      <div class="column box">
        <img class="demo cursor" src="{{ event.photo_3.url }}" style="width:100%" onclick="currentSlide(3)">
      </div>
      {% endif %}
      {% if event.photo_4 %}
      <div class="column box">
        <img class="demo cursor" src="{{ event.photo_4.url }}" style="width:100%" onclick="currentSlide(4)">
      </div>
      {% endif %}
      </div>
    </div>
  </div>
</section>
<script>
  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }
  
  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }
  
  var slideIndex = 1;
  showSlides(slideIndex);
  
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
  </script>
{% endblock %}