{% extends "base.html" %} {% block title %} | {{event_type | title}} {% endblock %} {% block content %}

<!-- Showcase-inner -->
<style>
  #showcase-inner {
    padding-top: 38px;    /* Adjust as needed for top padding */
    padding-bottom: 30px; /* Adjust as needed for bottom padding */
  }
</style>

<section id="showcase-inner" class="text-white">
  <div class="container" >
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">{{ event.title | title }}</h1>
      </div>
    </div>
  </div>
</section>

<!-- Event -->
<section id="event" class="py-4">
  <div class="container " style="height: 55vh;">
      <a href="{% url 'events' event_type=event_type %}" class="btn btn-light mb-4">Back To Events</a>
    <div class="row">
      <div class="col-md-9">
        <!-- Event Main Image -->
        {% if event.photo_main %}
        <img
          src={{ event.photo_main.url }}
          alt=""
          class="img-main img-fluid mb-3"
        />
        {% endif %}
        <!-- Thumbnails -->
        <div class="row mb-5 thumbs">
          {% if event.photo_1 %}
          <div class="col-md-2">
            <a
              href={{ event.photo_1.url }}
              data-lightbox="home-images"
            >
              <img
                src={{ event.photo_1.url }}
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
          {% endif %}
          {% if event.photo_2 %}
          <div class="col-md-2">
            <a
              href={{ event.photo_2.url }}
              data-lightbox="home-images"
            >
              <img
                src={{ event.photo_2.url }}
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
          {% endif %}
          {% if event.photo_3 %}
          <div class="col-md-2">
            <a
              href={{ event.photo_3.url }}
              data-lightbox="home-images"
            >
              <img
                src={{ event.photo_3.url }}
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
          {% endif %}
          {% if event.photo_4 %}
          <div class="col-md-2">
            <a
              href={{ event.photo_4.url }}
              data-lightbox="home-images"
            >
              <img
                src={{ event.photo_4.url }}
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
          {% endif %}
        </div>
        <!-- Fields -->
        <div class="row mb-5 fields">
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <i class="fas fa-calendar"></i> Published Date:
                <span >{{ event.publish_date | timesince }}</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Description -->  
        <div class="row mb-5">
          <div class="col-md-12">
            {{ event.content}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}